<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="DbConnection"
	  connectionString="Database=TicketingDesiganerDB;Integrated Security=True;TrustServerCertificate=true;"
	  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
